@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


 <img style="margin-top: -150px;" src="https://images7.memedroid.com/images/UPLOADED962/5bf4a95e58c46.jpeg" alt="Girl in a jacket" w> 


